      <div id="wrapper-2">
         <div id="wrap-content">

            <div id="wrapper-3">

               <div id="main-wrapper">
                  <div id="main">
                     <div id="breadcrumb" style="display:none"></div>

                     <div class="clearfix2" id="alert">
                        <div id="alert-1" class="alert-type alert-announcement">
                           <div class="alert-header">
                              <h5 class="alert-title"><span
                                    class="alert-label alert-announcement-label">Announcement: <b>{{page.title}}</b></span>
                              </h5>
                           </div>
                           <div style="" id="alert-content-1-1180310962" class="alert-content">
                              <div class="rendered-content">
                                  {{content}}
                              </div>
                              <div class="alert-details">by {{page.author}} {{page.date}}</div>
                           </div>
                        </div>
                     </div>
                     <script type="text/javascript">
      function showAlertContent1180310962() {
    	document.getElementById('alert-details-show-1-1180310962').style.display='none';
    	document.getElementById('alert-details-hide-1-1180310962').style.display='block';
    	document.getElementById('alert-content-1-1180310962').style.display='block';
      }

      function hideAlertContent1180310962() {
        document.getElementById('alert-details-show-1-1180310962').style.display='block';
        document.getElementById('alert-details-hide-1-1180310962').style.display='none';
        document.getElementById('alert-content-1-1180310962').style.display='none';
      }


                     </script>

                     <p align="justify">JBossWS is a web service framework developed as part of the
                        <a href="https://www.jboss.org/jbossas">JBoss Application Server</a> /
                        <a href="https://www.wildfly.org">WildFly</a>.</p>
                     <p align="justify">JBossWS integration provides the application server with any WS related
                        technologies it needs for achieving compliance with the
                        <a href="https://www.oracle.com/technetwork/java/javaee/tech/index.html">Java Platform,
                           Enterprise Edition 8 (Java EE 8)</a>.</p>
                     <p>Currently, JBossWS main focus is on integrating
                        <a href="https://cxf.apache.org">Apache CXF</a>, with the goal of achieving the best integration
                        of the first class CXF features on top of WildFly.</p>

                     <h3>Features</h3>

                     <p align="justify">JBossWS features include many specifications / standards implementations as
                        well as additional features, options, tools to improve ease of use, endpoint management and
                        monitoring, etc. In particular, JBossWS provides most of the <strong>features coming
                           with&nbsp;</strong>
                        <a href="https://cxf.apache.org/"><strong>Apache CXF</strong></a>&nbsp;(including
                        <strong>WS-Security, WS-Policy, WS-Addressing, WS-ReliableMessaging, WS-Trust, MTOM,
                           ...</strong>)
                        as well as common JBossWS stack features like endpoint metrics, record management, endpoint
                        address rewrite, etc.<br/> <strong> Please refer to the&nbsp;</strong>
                        <a href="https://docs.jboss.org/author/display/JBWS">
                           <strong>documentation</strong></a><strong>&nbsp;for further details.</strong></p>


                     <div id="badges">
                        <ul>
                           <li class="license-lgpl">
                              <a href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html"><em>Lesser General
                                 Public License version 2.1 (LGPL v2.1)</em></a></li>
                           <li class="jsr">
                              <a href="https://jcp.org/en/jsr/detail?id=224"><span class="implements">JSR</span><span
                                    class="version">224</span></a></li>
                           <li class="jsr">
                              <a href="https://jcp.org/en/jsr/detail?id=181"><span class="implements">JSR</span><span
                                    class="version">181</span></a></li>
                           <li class="jsr">
                              <a href="https://jcp.org/en/jsr/detail?id=109"><span class="implements">JSR</span><span
                                    class="version">109</span></a></li>
                           <li class="jsr">
                              <a href="https://jcp.org/en/jsr/detail?id=101"><span class="implements">JSR</span><span
                                    class="version">101</span></a></li>
                        </ul>
                        <div style="clear: both; height:1px;"> </div>
                     </div>
                     <br/>
                     <div class="whitebox supported-products">
                        <h3>Supported In:</h3>
                        <ul>
                           <li><a href="https://www.jboss.com/products/platforms/application" class="platform">Application
                              Platform</a></li>
                           <li><a href="https://www.jboss.com/products/platforms/soa" class="platform">SOA Platform</a>
                           </li>
                        </ul>
                        <br class="clearfix"/>
                     </div>
                     <div class="clear">
                        <br/>
                     </div>

                     <h3>Roadmap</h3>

                     <p>An high level road map regarding future features is
                        <a href="https://www.jboss.org/community/wiki/JBossWSRoadmap">available on the wiki</a>, while a
                        detailed road map
                        for the upcoming versions is found
                        <a href="https://jira.jboss.org/jira/browse/JBWS?report=com.atlassian.jira.plugin.system.project:roadmap-panel">in
                           our issue tracking system</a>.
                        You are always welcome to request and <a href="https://www.jboss.org/jbossws/community">contribute</a>
                        a new feature.</p>

                  </div><!-- end main -->
               </div>
