<div id="wrapper-2">
   <div id="wrap-content">

      <div id="wrapper-3">

         <div id="main-wrapper">
            <div id="main">
               <div id="breadcrumb" style="display:none"></div>

               <div class="clearfix2" id="alert">
                  <div id="alert-1" class="alert-type alert-announcement">
                     <div class="alert-header">
                        <h5 class="alert-title"><span
                                class="alert-label alert-announcement-label">Announcement: <b>{{page.title}}</b></span>
                        </h5>
                     </div>
                     <div style="" id="alert-content-1-1180310962" class="alert-content">
                        <div class="rendered-content">
                           {{content}}
                        </div>
                        <div class="alert-details">by {{page.author}} {{page.date}}</div>
                     </div>
                  </div>
               </div>
               <script type="text/javascript">
      function showAlertContent1180310962() {
    	document.getElementById('alert-details-show-1-1180310962').style.display='none';
    	document.getElementById('alert-details-hide-1-1180310962').style.display='block';
    	document.getElementById('alert-content-1-1180310962').style.display='block';
      }

      function hideAlertContent1180310962() {
        document.getElementById('alert-details-show-1-1180310962').style.display='block';
        document.getElementById('alert-details-hide-1-1180310962').style.display='none';
        document.getElementById('alert-content-1-1180310962').style.display='none';
      }


                     </script>

               <p align="justify">JBossWS is a framework that supplies
                  <a href="https://projects.eclipse.org/projects/ee4j">Eclipse Enterprise for Java (EE4J)</a>
                  compliant Web Service technologies to
                  <a href="https://www.wildfly.org">WildFly</a> and
                  <a href="https://www.redhat.com/en/technologies/jboss-middleware/application-platform">Red Hat JBoss Enterprise Application Platform (JBoss EAP)</a>.
                  JBossWS is built upon the Web Services components of
                  <a href="https://cxf.apache.org">Apache CXF</a>.
               </p>

               <h3>Features</h3>

               <p align="justify">JBossWS provides a set of features, options and tools that make it easy
                  to build, manage and monitor web services.  It provides endpoint metrics,
                  record management, endpoint address rewrite support and the like.
                  By its integration with CXF, JBossWS supports the
                  Web Services Standards for SAAJ, SOAP, the WS-I Basic Profile, WSDL,
                  WS-Addressing, WS-Policy, WS-ReliableMessaging, WS-Security,
                  WS-SecurityPolicy, WS-SecureConverstation, and WS-Trust (partial).


               <div id="badges">
                  <ul>
                     <li class="license-lgpl">
                        <a href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html"><em>Lesser General
                           Public License version 2.1 (LGPL v2.1)</em></a></li>
                     <li class="jsr">
                        <a href="https://jcp.org/en/jsr/detail?id=224"><span class="implements">JSR</span><span
                                class="version">224</span></a></li>
                     <li class="jsr">
                        <a href="https://jcp.org/en/jsr/detail?id=181"><span class="implements">JSR</span><span
                                class="version">181</span></a></li>
                     <li class="jsr">
                        <a href="https://jcp.org/en/jsr/detail?id=109"><span class="implements">JSR</span><span
                                class="version">109</span></a></li>
                     <li class="jsr">
                        <a href="https://jcp.org/en/jsr/detail?id=101"><span class="implements">JSR</span><span
                                class="version">101</span></a></li>
                  </ul>
                  <div style="clear: both; height:1px;"> </div>
               </div>
               <br/>
               <div class="whitebox supported-products">
                  <h3>Supported In:</h3>
                  <ul>
                     <li><a href="https://www.jboss.com/products/platforms/application" class="platform">Application
                        Platform</a></li>
                     <li><a href="https://www.jboss.com/products/platforms/soa" class="platform">SOA Platform</a>
                     </li>
                  </ul>
                  <br class="clearfix"/>
               </div>
               <div class="clear">
                  <br/>
               </div>

               <h3>Contribute</h3>

               <p>You are always welcome to request and <a href="https://jbossws.github.io/community/">contribute</a>
                  new features.</p>

            </div><!-- end main -->
         </div>