               <div id="rightcolumn" class="column">

                  <div class="projectpage-socialmedia">
                     <span class="st_sharethis_large">&nbsp;</span>
                     <span class="st_facebook_large">&nbsp;</span>
                     <span class="st_twitter_large">&nbsp;</span>
                     <span class="st_linkedin_large">&nbsp;</span>
                     <span class="st_email_large">&nbsp;</span>
                  </div>


                  <div id="proj_quick-start">
                     <h3>Useful Links</h3>
                     <ul>
                        <li><a href="https://www.jboss.org/community/wiki/JBossWS">Wiki</a></li>
                        <li><a href="https://docs.jboss.org/author/display/JBWS">Documentation</a></li>
                        <li><a href="https://docs.jboss.org/author/display/JBWS/JAX-WS+User+Guide">JAX-WS User Guide</a>
                        </li>
                        <li><a href="https://docs.jboss.org/author/display/JBWS/Advanced+User+Guide">Advanced User
                           Guide</a></li>
                        <li><a href="https://www.jboss.org/community/wiki/JBossWS-FAQ">FAQ</a></li>
                        <li><a href="https://www.jboss.org/community/wiki/JBossWS-SetupyourIDE">Setup your IDE</a></li>
                        <li><a href="https://docs.jboss.org/author/display/JBWS/JAX-WS+Tools">Tools (JAX-WS)</a></li>
                        <li><a href="https://jbossws.github.io/jbossws/build.html">Building the Project</a></li>
                        <li><a href="https://www.ohloh.net/p/jbossws">Ohloh.net</a></li>
                     </ul>
                  </div>
                  <div class="interviews-rss ">
                     <h3>JBossWS</h3>
                     <dl class="evenrow">
                        <dt><a href="https://jbossws.blogspot.com/2020/01/jbossws-540final-is-released.html">JBossWS
                           5.4.0.Final is released!</a></dt>
                        <dd class="date">Wednesday, January 15, 2020 By Jim Ma
                        </dd>
                        <dd>I am pleased to annouce JBossWS 5.4.0 Final is out. In this release we upgraded many 
                            components as usual and brings Elytron&#8230;
                        </dd>
                     </dl>

                     <dl class="oddrow">
                        <dt><a href="https://jbossws.blogspot.com/2019/05/jbossws-530final-is-out.html">JBossWS
                           5.3.0.Final is out!</a></dt>
                        <dd class="date">May 14, 2019 19:07 PM by Jim Ma
                        </dd>
                        <dd>After couple days work, I am proud to announce JBossWS 5.3.0.Final has been released. This
                           new release brings a lot of component up&#8230;
                        </dd>
                     </dl>

                     <dl class="evenrow">
                        <dt><a href="http://jbossws.blogspot.com/2017/11/jbossws-520final-is-available.html">JBossWS
                           5.2.0.Final is available</a></dt>
                        <dd class="date">Nov 13, 2017 5:09 AM by Alessio Soldano
                        </dd>
                        <dd>After some micro bug fix releases on the 5.1 stream, JBossWS 5.2.0.Final has eventually been
                           released.The latest versions brings a lot of component up&#8230;
                        </dd>
                     </dl>
                     <dl>
                        <dd class="more">View <a href="https://jbossws.blogspot.com/">more jbossws</a></dd>
                     </dl>
                  </div>
                  <div class="clear"><br/></div>

                  <div class="uploaded-img">

                     <a href="https://www.ej-technologies.com/products/jprofiler/overview.html">

                        <img width="180" alt="" height="75"
                             src="{{site.baseurl}}/img/logo_jprofiler01.gif"
                             style="margin:0 auto;"/>

                     </a>
                  </div>

                  <h5>We use JProfiler for profiling</h5>

                  <table>
                     <tr>
                        <td>
                        </td>
                     </tr>
                  </table>


                  <div>
                     <a href="https://www.jboss.org/security.html">
                        <div class="projectpage-sprite projectpage-sprite-securityimage">&nbsp;</div>
                     </a>
                  </div>
               </div>

            </div><!-- end wrapper-3 -->

         </div><!-- end wrapper-content -->
         <div style="clear: both;"></div>
      </div><!-- end wrapper-2 -->
   </div>
