<div id="rightcolumn" class="column">

    <div class="projectpage-socialmedia">
        <span class="st_sharethis_large">&nbsp;</span>
        <span class="st_facebook_large">&nbsp;</span>
        <span class="st_twitter_large">&nbsp;</span>
        <span class="st_linkedin_large">&nbsp;</span>
        <span class="st_email_large">&nbsp;</span>
    </div>


    <div id="proj_quick-start">
        <h3>Useful Links</h3>
        <ul>
            <li><a href="https://docs.jboss.org/author/display/JBWS">JAX-WS User Guide</a></li>
            <li><a href="https://github.com/jbossws/jbossws-cxf">Source Code</a></li>
            <li><a href="https://issues.redhat.com/projects/JBWS/issues">
                Issue Tracker</a></li>
        </ul>
    </div>
    <div class="interviews-rss ">
        <h3>JBossWS</h3>
        <dl class="evenrow">
            <dt><a href="{{site.baseurl}}/2020/05/27/jbossws-new-google-forum/">Move to JBossWS Google Group</a></dt>
            <dd class="date">May 27, 2020 By Jim Ma
            </dd>
            <dd>JBossWS team has moved the old jboss community wiki and forum to <a href="https://groups.google.com/forum/#!forum/jbossws">JBossWS Google Groups</a>.
                The old JBossWS wiki, User Forum and Developer Forum are all archived and read only now. This change will allow our community users
                find us more easily with one email or web access...
            </dd>
        </dl>
        <dl class="oddrow">
            <dt><a href="{{site.baseurl}}/2020/01/15/jbossws-540final-is-released/">JBossWS
                5.4.0.Final is released!</></dt>
            <dd class="date">Wednesday, January 15, 2020 By Jim Ma
            </dd>
            <dd>I am pleased to annouce JBossWS 5.4.0 Final is out. In this release we upgraded many
                components as usual and brings Elytron&#8230;
            </dd>
        </dl>

        <dl class="oddrow">
            <dt><a href="{{site.baseurl}}/2019/05/14/jbossws-530final-is-out">JBossWS
                5.3.0.Final is out!</a></dt>
            <dd class="date">May 14, 2019 19:07 PM by Jim Ma
            </dd>
            <dd>After couple days work, I am proud to announce JBossWS 5.3.0.Final has been released. This
                new release brings a lot of component up&#8230;
            </dd>
        </dl>


        <dl>
            <dd class="more">View <a href="https://jbossws.github.io/blogs/">more jbossws updates</a></dd>
        </dl>
    </div>
    <div class="clear"><br/></div>

    <div class="uploaded-img">

        <a href="https://www.ej-technologies.com/products/jprofiler/overview.html">

            <img width="180" alt="" height="75"
                 src="{{site.baseurl}}/img/logo_jprofiler01.gif"
                 style="margin:0 auto;"/>

        </a>
    </div>

    <h5>We use JProfiler for profiling</h5>

    <table>
        <tr>
            <td>
            </td>
        </tr>
    </table>


    <div>
        <a href="https://www.jboss.org/security.html">
            <div class="projectpage-sprite projectpage-sprite-securityimage">&nbsp;</div>
        </a>
    </div>
</div>

</div><!-- end wrapper-3 -->

</div>