               <div id="rightcolumn" class="column">

                  <div class="projectpage-socialmedia">
                     <span class="st_sharethis_large">&nbsp;</span>
                     <span class="st_facebook_large">&nbsp;</span>
                     <span class="st_twitter_large">&nbsp;</span>
                     <span class="st_linkedin_large">&nbsp;</span>
                     <span class="st_email_large">&nbsp;</span>
                  </div>


                  <div id="proj_quick-start">
                     <h3>Useful Links</h3>
                     <ul>
                        <li><a href="https://www.jboss.org/community/wiki/JBossWS">Wiki</a></li>
                        <li><a href="https://docs.jboss.org/author/display/JBWS">Documentation</a></li>
                        <li><a href="https://docs.jboss.org/author/display/JBWS/JAX-WS+User+Guide">JAX-WS User Guide</a>
                        </li>
                        <li><a href="https://docs.jboss.org/author/display/JBWS/Advanced+User+Guide">Advanced User
                           Guide</a></li>
                        <li><a href="https://www.jboss.org/community/wiki/JBossWS-FAQ">FAQ</a></li>
                        <li><a href="https://www.jboss.org/community/wiki/JBossWS-SetupyourIDE">Setup your IDE</a></li>
                        <li><a href="https://docs.jboss.org/author/display/JBWS/JAX-WS+Tools">Tools (JAX-WS)</a></li>
                        <li><a href="https://jbossws.github.io/jbossws/build.html">Building the Project</a></li>
                        <li><a href="https://www.ohloh.net/p/jbossws">Ohloh.net</a></li>
                     </ul>
                  </div>
                  <div class="clear"><br/></div>

                  <div class="uploaded-img">

                     <a href="https://www.ej-technologies.com/products/jprofiler/overview.html">

                        <img width="180" alt="" height="75"
                             src="{{site.baseurl}}/img/logo_jprofiler01.gif"
                             style="margin:0 auto;"/>

                     </a>
                  </div>

                  <h5>We use JProfiler for profiling</h5>

                  <table>
                     <tr>
                        <td>
                        </td>
                     </tr>
                  </table>


                  <div>
                     <a href="https://www.jboss.org/security.html">
                        <div class="projectpage-sprite projectpage-sprite-securityimage">&nbsp;</div>
                     </a>
                  </div>
               </div>

            </div><!-- end wrapper-3 -->

         </div><!-- end wrapper-content -->
         <div style="clear: both;"></div>
      </div><!-- end wrapper-2 -->
   </div>
